on:
  workflow_call:
    inputs:
      semver:
        required: true
        type: string
      winver:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.x          
          9.x
          10.x

    - name: Restore Tools
      run: >
        dotnet tool restore

    - name: Build
      run: >
        dotnet build
        --configuration Release
        --property:Version=${{ inputs.semver }}
        --property:InformationalVersion=${{ inputs.semver }}
        --property:AssemblyVersion=${{ inputs.winver }}

    - name: Create Drop Folder
      shell: bash
      run: |
        mkdir -p drop/net8.0
        mkdir -p drop/net9.0
        mkdir -p drop/net10.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net8.0/*.dll drop/net8.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net8.0/*.runtimeconfig.json drop/net8.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net8.0/*.deps.json drop/net8.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net9.0/*.dll drop/net9.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net9.0/*.runtimeconfig.json drop/net9.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net9.0/*.deps.json drop/net9.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net10.0/*.dll drop/net10.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net10.0/*.runtimeconfig.json drop/net10.0
        cp src/DemaConsulting.DotnetToolWrapper/bin/Release/net10.0/*.deps.json drop/net10.0

    - name: Generate SBOM
      run: >
        dotnet sbom-tool generate
        -b drop
        -bc src/DemaConsulting.DotnetToolWrapper
        -pn DemaConsulting.DotnetToolWrapper
        -pv ${{ inputs.semver }}
        -ps DemaConsulting
        -nsb https://DemaConsulting.com/DotnetToolWrapper

    - name: Enhance SBOM
      run: >
        dotnet spdx-tool
        run-workflow spdx-workflow.yaml

    - name: Upload Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: build-artifacts
        path: |
          drop/_manifest/spdx_2.2/*.*
          drop/net8.0/*.*
          drop/net9.0/*.*
          drop/net10.0/*.*
